@import url('');

/* This is * element means this outline is used for any new styling made which is not mentioned */
*{
    margin: 0;
    padding: 0;
    font-family: ;
}

/* .<- is how you specify if it is a class or not */
.container{
    width: 100%;
    height: 100vh;
    background: gray;
}

.bg-img{
    background-image: url(); /*insert url link for the image here */
    background-repeat: no-repeat; /* change the repeat based on your liking */
    background-size: ;
    background-position: center center;
}

.header{
    width: 80%;
    height: 80px;
    display: flex;
    /* This is to add space between each content of the list */
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
